<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <div>
        <h3 th:text="${jobs.size() + ' Result(s)'}"></h3>

        <div>
            <table class="job-listing" th:each="jobMap : ${jobs}">
                <tbody>
                <tr th:each="job : ${jobMap}">
                    <td th:text="${#strings.capitalizeWords(job.key)}"></td>
                    <td th:text="${job.value}"></td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>



</div>

</body>
</html>